@import url('home.css');
@import url('selection.css');
@import url('view-question.css');

@import url('background-colors.css');
@import url('border-colors.css');

.App {
    background-color: rgba(0,0,0);
}

body {
    overflow: hidden; /*remove overflow hidden to add scrollbar and access full screen button*/
    color: midnightblue;
    font-weight: 550;
}

.container {
    background-image: url("../assets/Inside page-01 Large.png");
    background-size: contain;
    text-align: center;
    width: 100%;
    height: 56.25vw;
    margin: auto;
    padding: 5px;
    box-shadow: 5px 5px 10px gray;
}

.header {
    display: block;
    height: 5vh;
}

.heading {
    font-size: 45px;
    font-weight: 400;
}

.sub-heading {
    font-size: 38px;
    font-weight: 400;
}

.link {
    color: midnightblue;
    display: block;
    text-align: center;
    width: 200px;
    text-decoration: none;
    border: midnightblue solid 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    transition: border .1s;
    cursor: pointer;
}

.link:hover {
    border: midnightblue 3px solid;
}

.link:active {
    border: midnightblue 4px solid;
}

.select {
    font-size: 24px;
    text-align: center;
    display: block;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: .7vh;
    border: gray solid 1px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    transition: border .1s;
}

.select:hover {
    border: 2px midnightblue inset;
}

.select.active {
    border: 3px midnightblue inset;
}

.link.back-to-selection {
    display: block;
    position: absolute;
    margin-top:450px;
    float: left;
    font-size: 30px;
    border-width: 5px;
    padding: 15px;
    margin-left: 100px;
}

.link.back-to-selection {
    display: block;
    position: absolute;
    margin-top:450px;
    float: left;
    font-size: 40px;
    border-width: 5px;
    padding: 15px;
    margin-left: 100px;
}

.link.admin {
    height: 20px;
    position: absolute;
    bottom: 0;
    padding: 5px;
    width: 100px;
}

.form-row {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
}

input {
    margin: auto;
}

.input-text {
    margin: auto;
    width: 150px;
    height: 25px;
    border-radius: 6px;
    font-size: 20px;
}

.input-question {
    width: 80%;
    height: 100px;
}

.submit {
    margin: auto;
}

.link.next {
    color: midnightblue;
    border: none;
    font-weight: 900;
    font-size: 90px;
    margin-top: 35%;
    margin-left: auto;
    margin-right: 6vw;
}

.link.next:hover {
    background:none;
}
.column {
    display: flex;
    flex-direction: column;
}

.display-none {
    display: none;
}