.view-question {
    display: flex;
    height: 100vh;
    width: 100%;
}

.view-question .container {
    background-size: contain;
}

.question {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: 80%;
}

.question h5 {
    margin-left: 30%;
}

.question-heading {
    font-size: 40px;
    font-weight: 550;
    text-align: center;
    padding-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    color: midnightblue;
    width: 70%;
}


.question-heading strong {
    font-weight: 900;
    font-size: 40px;
}

.question-image-container-oer {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: row;
    padding-top: 20px;
}

.question-image-container-oer .question-image {
    height: 250px;
    margin: 0 15px 0 15px;
}

.question-image-container-mc {
    position: absolute;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: row;
    padding-top: 150px;
}

.question-image-container-mc .question-image {
    height: 250px;
    margin: 0 15px 0 15px;
}

.question-image-container-mc-right {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: row;
    padding-top: 150px;
}

.oer-answer {
    width: 70%;
    line-height: 7.5vh;
    font-weight: 550;
    font-size: 50px;
    padding-top: 10vh;
}

.question .question-row {
    height: 45%;
}

.question .choices {
    display: inline-block;
    width: 60%;
    height: 100px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.5%;
}

.question .choices .choice-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.question .choices .choice-container div {
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    border: solid black 4px;
    background-color: #f2f2f286;
    border-radius: 15px;
    border-top-left-radius: 0vw;
    border-bottom-left-radius: 0vw;
    box-shadow: 1px 1px 5px gray;
    font-size: 25px;
    transition: .5s padding;
    user-select: none;
    cursor: pointer;
}

.question .choices .choice-container div p.question-text {
    display: inline-block;
    width: 70%;
    font-size: 35px;
    user-select: none;
    margin-top: 1vh;
    cursor: pointer;
    border: none;
    box-shadow: none;
    word-break: break-word;
    color: midnightblue;
    font-weight: 550;
}

.question .choices .choice-container div:hover {
    padding-left: 4%;
    padding-right: 4%;
}

.letter-icon {
    float: left;
    height: 35px;
    width: 35px;
    margin-top: 15px;
    margin-left: 15px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    color: white;
}

.timer p {
    background-color: midnightblue;
    text-align: center;
    float: right;
    position: absolute;
    font-size: 70px;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 6vw;
    right: 5vw;
    border-radius: 1500px;
    cursor: pointer;
    color: white;
}

.timer p.active {
    background-color: midnightblue;
}

.inactive-check {
    position: absolute;  
    margin: 0;
    margin-top: 13px;
    right: 22%;
    color: green;
    height: 7%;
    width: 7%;
    opacity: 0;
}

.inactive-x {
    position: absolute;  
    margin: 0;
    margin-top: 13px;
    right: 22%;
    color: red;
    height: 7%;
    width: 7%;
    opacity: 0;
}

.active-x-check {
    opacity: 100;
    animation: activeXCheck;
    animation-duration: .4s;
}

@keyframes activeXCheck {
    0% {
        width: 2%;
        height: 2%;
        padding-left: 3px;
    }
    25% {
        width: 4%;
        height: 4%;
        padding-right: 3px;
    }
    50% {
        width: 5%;
        height: 5%;
        padding-left: 2px;
    }
    75% {
        width: 6%;
        height: 6%;
        padding-right: 1px;
    }
    100% {
        width: 7%;
        height: 7%;
        padding-right: .5px;
    }
  }

